.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
pg_config.sh
Vagrantfile
a.out
C Project
new library/calculators/lib.a
new library/calculators/run
new library/calculators/lib1.a
new library/calculators/run1
backtracking/a.exe
Unix-Commands-in-C
priority_queue/PriorityQueue.class
java_programs/HelloWorld.class
.vscode/settings.json
java_programs/Task1.class
java_programs/Square.class
java_programs/Shape.class
java_programs/Rectangle.class
java_programs/Quadrilateral.class
java_programs/Circle.class
java_programs/Student.class
java_programs/Task2.class
java_programs/Task3.class
java_programs/BST.class
java_programs/BST$Node.class
Functional Programming (Java)/Predicates/CheckPrime.class
Functional Programming (Java)/Predicates/Palindrome.class
Functional Programming (Java)/Predicates/Validexpression.class
Binary Search Tree/BST_String.class
Binary Search Tree/BST_String$Node.class
Binary Search Tree/BST.class
Binary Search Tree/BST$Node.class
Binary Search Tree/Min_freq10.class
Binary Search Tree/Min_freq10$FrequencyResult.class
Binary Search Tree/Min_freq10$BST_String.class
Binary Search Tree/Min_freq10$BST_String$Node.class
Binary Search Tree/leipzig1m.txt
Functional Programming (Java)/Supplier/RandomString.class
Functional Programming (Java)/Function method/SquareRoot.class
Functional Programming (Java)/Function method/Uppercase.class
Functional Programming (Java)/Function method/WhiteSpaces.class
Functional Programming (Java)/Function method/Supplier_Consumer.class
Binary Search Tree/A.class
Binary Search Tree/BinarySearchTree.class
Binary Search Tree/BinarySearchTree$Node.class
Functional Programming (Java)/Streams/uppercase.class
Balanced Trees/RedBlack.java

Functional Programming (Java)/Streams/addition.class
Functional Programming (Java)/Streams/grouping.class
