.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
pg_config.sh
Vagrantfile
a.out
C Project
new library/calculators/lib.a
new library/calculators/run
new library/calculators/lib1.a
new library/calculators/run1
backtracking/a.exe
Unix-Commands-in-C
priority_queue/PriorityQueue.class
